@model IEnumerable<KisiKayit.Models.tbl_Kisi>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KisiAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KisiSoyadi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KisiEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KisiFotograf)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KisiAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KisiSoyadi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KisiEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KisiFotograf)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KisiID }) |
            @Html.ActionLink("Details", "Details", new { id=item.KisiID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KisiID })
        </td>
    </tr>
}

</table>
